.project-one {
    display: flex;
    align-items: center;
}

.project-two {
    display: flex;
    align-items: center;
}

.project-three {
    display: flex;
    align-items: center;
}

.tech-stack {
    display: flex;
    align-items: center;
}