html {
  font-family: "Ubuntu", light;
  background-color: rgb(187, 183, 202);
  color: #495057;
}
.navigation {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #000000;
  background-color: #d4cc7f;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-right: 10px;
}
.button:hover {
  background-color: #f3e992;
}
.button:active {
  background-color: #555;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.current-page {
  background-color: #eedf55;
}

.social-media {
  display: flex;
  position: absolute;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.fa {
  padding: 5px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.btn {
    margin-top: 50px;
    background-color: #ffe448;
    border: none;
    color: #555;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .btn:hover {
    background-color: #eee065;
  }